.height{
    min-height: 100vh;
}

.title-underline{
    width: 280px;
    height: 8px;
    margin: 0 auto;
    /* background: blue!important; */
}

.title-underline-400px{
    width: 400px;
    height: 8px;
    margin: 0 auto;
    background: yellow!important; 
}

.title-underline-experience{
    width: 180px;
    height: 8px;
    margin: 0 auto;
    background: yellow!important; 
}

.title-underline-experience2{
    width: 600px;
    height: 8px;
    margin: 0 auto;
    background: yellow!important; 
}

.title-underline-experience3{
    width: 500px;
    height: 8px;
    margin: 0 auto;
    background: yellow!important; 
}
.height-80{
    min-height: 70vh;
}

.height-50{
    min-height: 50vh;
}

/* .education-picture{
    background: url(images/concord.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */

.developer-picture{
    background: url(../images/developerImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scrum-picture{
    background: url(../images/scrumImg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ios-picture{
    background: url(../images/iphoneimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frontend-picture{
    background: url(../images/frontendImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textcolourBlue{
 color: blue;   
}

.textcolourLightBlue{
    color: lightblue;   
   }

.backgroudcolorBlue{
    background-color: lightblue;
}

.padding{
    padding-left: 0px;
    padding-right: 2px;
}

/* .clear{
    clear: both;
} */