.height{
    min-height: 100vh;
}

.title-underline{
    width: 280px;
    height: 8px;
    margin: 0 auto;
    /* background: blue!important; */
}

.title-underline-experience{
    width: 180px;
    height: 8px;
    margin: 0 auto;
    background: blue!important; 
}

.title-underline-experience2{
    width: 600px;
    height: 8px;
    margin: 0 auto;
    background: blue!important; 
}

.title-underline-experience3{
    width: 500px;
    height: 8px;
    margin: 0 auto;
    background: blue!important; 
}
.height-80{
    min-height: 70vh;
}

.education-picture{
    background: url(../WebTemplate/images/education.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


